<!DOCTYPE html>
<html>
    <head>
        <title>GrandPy bot - le papy robot qui vous raconte des histoires !</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/grandpy.css">
    </head>
    <body>
        <div class="chat">
            <p class="user"> Salut GrandPy connais-tu le chemin de la rivière? Merci !</p>
            <p class="robot"> Bonjour mon ptit, oui je le connais voilà ce que j'ai trouvé <br> Salut</p>

        </div>
        <form action="" method="get">
        <textarea placeholder="Posez votre question à GrandPy ici !" name="question" rows="2"></textarea>
        <input type="submit" value="Envoyer">
        </form>
        <script src="../static/js/ajax.js"></script>
        <script src="../static/js/grandpy.js"></script>
    </body>
</html>